/*--------------------------------------------Main Game Scene (the one that appear when the game starts)-------------------------------------------- */

.align-center{	/*mostly for VBoxes */
	-fx-alignment: center;
}
.largeText{
	 -fx-font-size: 50px;
}
.mediumText{
	-fx-font-size: 30px;
}
.smallText{
	-fx-font-size: 20px;
}

#timeScorePane{
	-fx-background-color: grey;
}
#timeLabel{
	/*text color?*/
}
#bonusTimeLabel{
	/*-fx-background-color: pink;
	-fx-background-radius: 10px;
	-fx-padding: 0 5px;*/
	-fx-text-fill: red;
}
#scoreLabel{
	
}

#numberAreaPane{
	-fx-background-color: black;
}
#randNumLabel{
	-fx-background-color: darkblue;
	-fx-text-fill: lime;
}
#randNumLabelRun{
	-fx-text-fill:lime;
	 -fx-font-size: 120px
}
.odd-and-even-pane{
	
}
#odd-pane{
	-fx-background-color: orange;
}

/*-------------------------------------------- Game over scene-------------------------------------------- */
