/*--------------------------------------------Main Game Scene (the one that appear when the game starts)-------------------------------------------- */
/* id's have the same name as the varialbe in the Java code */

.align-center{	/*mostly for VBoxes */
	-fx-alignment: center;
}
.largeText{
	 -fx-font-size: 50px;
}
.mediumText{
	-fx-font-size: 30px;
}
.smallText{
	-fx-font-size: 20px;
}

#timeScorePane{
	-fx-background-color: lightyellow;
}
#timeLabel{
	/*text color?*/
}
#bonusTimeLabel{
	/*-fx-background-color: pink;
	-fx-background-radius: 10px;
	-fx-padding: 0 5px;*/
	-fx-text-fill: red;
}
#scoreLabel{
	
}

#numberAreaPane{
	-fx-background-color: black;
}
#randNumLabel{
	-fx-background-color: darkblue;
	-fx-background-radius: 15px;
	-fx-padding: 0 10px;
	-fx-text-fill: lime;
}
#randNumLabelRun{	/*switched to this id once the game starts */
	-fx-text-fill:lime;
	 -fx-font-size: 120px
}

.odd-and-even-pane{
	
}
.oddEvenLabels {
	-fx-font-weight: bold;
	-fx-font-size: 20px;		/*qwert: this essentially sets the height for the evenOddContainer*/
}
#oddPane{
	-fx-background-color: orange;
}
#evenPane{
	-fx-background-color: lime;
}

/*-------------------------------------------- Game over scene-------------------------------------------- */
#gameOverPane{
	-fx-background-color: gold;
}
#finalScorePane{
	-fx-background-color: yellow;
	-fx-padding: 0 0 0 30px;
	-fx-background-radius: 20px;
	/*-fx-border-color: gold;
	-fx-border-width: 20px;*/
}
#finalScorePaneContainer{
	-fx-padding: 0 20px 10px 20px;
}

#restartInstructionsLabel{
	-fx-background-color: white;
	-fx-padding: 0 5px;
	-fx-background-radius: 10px;
}

/* fix lbl = Label */